body {
    background-color: #2A3035;
  }

  #icon-linkedin{
    margin-left: 5%;
    height: 50px;
    width: 60px;
  }

  #icon-github{
    margin-left: 1%;
    height: 50px;
    width: 60px;
  }

  #linha-horizontal{
      width: 50vw;
      border: 1px solid #2CDACF;  
      margin-left:15em;
      margin-top: -1.8em;

  }
