@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@charset "UTF-8";

body {
    background-color: #2A3035;
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    
  
  }
nav{
  display:flex;
  justify-content: center;
  align-items: center;
}
  #icon-linkedin{
    margin-left: 5%;
    height: 40px;
    width: 40px;
  }

  #icon-github{
    margin-left: 1%;
    height: 40px;
    width: 40px;
  }
  #icon-menu{
    height: 40px;
    width: 40px;
  }
  
  #linha-horizontal{
    width:50%;
    border: 1px solid #2CDACF;  

  }

  #container{
    display: flex;
    justify-content: space-around;
   
  }

  #texto_1{
    font-size: 40pt;
}